body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.row h2 {
    text-align: center;
    background: #f5f5;
}
.well {
    border: 5px solid blue;
}
button.btn.btn-success.pull-right {
    width: 100%;
}